OC=~/.bin/oc4
OC_URL=https://dev-api.openshift.example.com:6443
OC_USER=kubeadmin
OC_PASSWORD=my-secret-passwd-sauce


# Load Tester Params
DURATION = 100
USERS_PER_POD = 1
REPLICAS = 1
SOCKET_ADDRESS= 'ws://'